/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

$color1: #D87D4A;
$color2: #101010;
$color3: #F1F1F1;
$color4: #FAFAFA;
$color5: #fbaf85;
$color6: #4C4C4C;

$white: #fff;
$black: #000;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
$textFont: 'Manrope', sans-serif;
